.idea
.ipynb_checkpoints
.DS_Store
.vscode
.venv
.pytest_cache
.mypy_cache
.eggs
*.egg-info
*.csv
*.ipynb_checkpoints
monkeytype.sqlite3

build
build.sh
pkg.egg-info
venv

__pycache__
Pipfile
Pipfile.lock
notebooks
build

*.pickle
